<body>

  <div class="card">
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <span > RESEÑAS TURISTICAS </span>
      </ng-template>
    </p-menubar>
  </div>

  <div
    class="contenedor" >
    <img
      src="https://cdn.pixabay.com/photo/2013/04/07/21/29/arc-de-triomphe-101633_640.jpg"
      class="imagen"
    />
    <div
      class="centrado"
    >
      <h1 class="display-1">Reseñas turisticas</h1>
      <p>
        Escriba y lea reseñas de los destinos turisticos que desee, siempre y en
        todo lugar.
      </p>
      <p>
        Dé la calificación con estrellas de un determinado lugar, ademas indique
        el grado de satisfaccion con respecto a sus expectativas del mismo
        adjuntando imagenes y una descripcion que sintetice sus ideas.
      </p>
    </div>
  </div>
</body>
