<body class='image' >

  <div class="opacity"></div>

  <div class="title1">
    <div class="card">
      <app-menubar></app-menubar>
    </div>
  </div>

  <div class="container">
    <div class="centered">
      <h1 class="display-1">Reseñas turisticas</h1>
      <p>
        Escriba y lea reseñas de los destinos turisticos que desee, siempre y en
        todo lugar.
      </p>
      <p>
        Dé la calificación con estrellas de un determinado lugar, ademas indique
        una descripcion completa de su experiencia para que demas usuarios puedan
        leerlo.    
      </p>
      <button class="btn-primary" routerLink="/buscar"> "Descubra todas las reseñas"</button>
    </div>
  </div>
</body>
