<body >  

  <div class="card" >
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <span > RESEÑAS TURISTICAS </span>
      </ng-template>
    </p-menubar>
  </div>
    
  

  <h1 class="display-1" >Inicio </h1>


  <div class="div-cards" >


        <div class="card card-rr">
          <img src="https://cdn.pixabay.com/photo/2014/10/28/03/00/buckingham-506129_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Escribir sobre un lugar</h5>
            <p class="card-text">Comenta a la comunidad como han estado tus vacaciones</p>
            <a href="#" class="btn btn-primary"   routerLink="/redactar">Redactar Reseña</a>
          </div>
        </div>
        
        <div class="card card-br">
          <img src="https://cdn.pixabay.com/photo/2016/09/12/17/00/antwerp-1665194_640.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Leer sobre un lugar</h5>
            <p class="card-text">Busca reseñas que otros autores han realizado</p>
            <a href="#" class="btn btn-primary" routerLink="/buscar">Buscar reseñas</a>
          </div>
        </div>


        <div class="card card-mr" >
          <img src="https://cdn.pixabay.com/photo/2020/01/25/18/20/sicily-4793099_640.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mis Reseñas</h5>
            <p class="card-text">Lee, edita o elimina las reseñas que hayas realizado anteriormente</p>
            <a href="#" class="btn btn-primary" routerLink="/mis-res">Ver mis reseñas</a>
          </div>
        </div>

  </div>  













</body>
