<body>
  <div class="card">
    <app-menubar></app-menubar>
  </div>

  <h1 class="display-1">Iniciar Sesión</h1>

  <div class="form-div">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-div2">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="ejemplo@hotmail.com"
            formControlName="email"
          />
          <div id="emailHelp" class="form-text">
            Nunca compartiremos su correo electrónico.
          </div>
        </div>
      </div>

      <div class="password-div">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <div class="password-div2">
            <input
              [type]="getPasswordType()"
              class="form-control col"
              id="exampleInputPassword1"
              formControlName="password"
            />
            <button (click)="onShow()" type="button" class="btn btn-outline-secondary">
              <span class="fa" [ngClass]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary submit">Iniciar Sesión</button>
        <button type="button" class="btn btn-light button" routerLink="/registrarse">Registrarse</button>
      </div>
    </form>
  </div>

  <div *ngIf="loginErrorModal" class="modal fade show" id="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error en el inicio de sesión</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p>El correo electrónico o la contraseña no son correctos. Por favor, inténtelo nuevamente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  

</body>
