<body style="background-color: #f1f1f1; display: block; height: 120vh;">  
    <div class="card" style="border: solid 2px;">
        <p-menubar [model]="items">
          <ng-template pTemplate="start">
            <span style="text-align: center; color: black;"> RESEÑAS TURISTICAS </span>
          </ng-template>
        </p-menubar>
      </div>
  
      <div style="text-align: center; margin-top: 20px;">    <!-- titulo-->
          <h1 style="color: #135B9E">Modifique su reseña!</h1>
      </div>
  
      <form  [formGroup]="myForm" (ngSubmit)="onFormSubmit()" style="margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 50px;">        <!-- formulario-->
 
  
          <div class="mb-3" style="width: 600px; text-align: center; margin-top: 50px; ">
              <label for="exampleFormControlTextarea1" class="form-label">Modifique la reseña, cuentenos que tal anduvo esa estadia!</label>
              <input class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description">
          </div>
          
  

          <div style="width: 600px; text-align: center; margin-top: 50px;">
            <div style="margin-top: 10px;">
                <p>Cambie las estrellas de puntuacion para este sitio</p>
              </div>
            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="stars">
                <option selected>Estrellas</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          
          
  
  
  
          <div style=" text-align: center; margin-top: 40px; ">
              <button type="submit" class="btn btn-outline-primary" >Guardar reseña</button>
          </div>
  
  
      </form>
  </body>
  
